<div class="bg-gray-800">
  <nav
    class="flex justify-between text-white px-12 h-20 items-center w-[90%] mx-auto max-w-[1800px]"
  >
    <h1 class="text-[14px] sm:text-xl font-bold">Logo.</h1>

    <div class="flex gap-8 text-[14px] sm:text-xl">
      <a routerLink="" class="hover:text-red-500 transition-colors duration-[200ms]"
        >Cartelera</a
      >
      <a href="precios" class="hover:text-red-500 transition-colors duration-[200ms]"
        >Precios</a
      >
    </div>
  </nav>
</div>
