<!-- <div class="h-20 w-full md:w-xl mx-auto rounded-b-[20px] relative top-[80px] z-1 bg-[#d9d9d9] flex items-center justify-center">

   <img class="w-[280px] h-auto mx-auto absolute" src="./img/cine-logo.png" alt="" />


</div> -->

@if(estadoProceso()==0){
<div class="h-screen info flex items-center justify-center pb-[40px]">
  <app-seleccion-entradas
    (seleccionTarifas)="sendTarifas($event)"
    [tarifasInput]="tarifas()"
    [isError]="carteleraResource.error()"
    [isEmpty]="carteleraResource.value()?.length === 0"
    [isLoading]="carteleraResource.isLoading()"
  ></app-seleccion-entradas>
</div>
}@else if(estadoProceso()==1){
<div class="h-screen info flex items-center justify-center pb-[100px]">
  <app-sala
    [sala]="tarifasResource.value()"
    [cantidadEntradas]="cantidadEntradas()"
    (estado)="volverATarifas($event)"
    (asientosSeleccionadosOutput)="enviarSeleccionFinal($event)"
  ></app-sala>
</div>
}@else if(estadoProceso()==2){
<div class="h-screen info flex items-center justify-center pb-[100px]">
  <app-compra-final (estado)="volverASala($event)"></app-compra-final>
</div>
}

<!-- <div class="w-[500px] h-[400px] flex flex-col">
    <div class="w-full mx-auto">
      <h2 class="text-red-500 text-4xl text-center mb-4">
        Seleccione sus entradas
      </h2>
    </div>
    <div class="flex items-center flex-col justify-center text-white">
      @if(carteleraResource.value()){

      @for(tarifa of tarifasArray();track tarifa) {
      <div class="p-5 flex gap-15 items-center">
        <div class="w-20 text-left">
          <p class="">{{ tarifas()[tarifa].nombre }}</p>
        </div>

        <div class="w-15">
          <p class="">
            {{
              getPriceConverted(tarifas()[tarifa].precio)
                | currency : "EUR" : "symbol" : "1.2-2"
            }}
          </p>
        </div>

        <div class="rounded-2xl overflow-hidden border-gray-700 border-1 w-25">
          <div class="flex items-center justify-center gap-3">

            <div
              class="w-full text-center bg-gray-700 hover:cursor-pointer"
              (click)="onHandleClickLess(tarifas()[tarifa].nombre)"
            >
              <button class="text-white text-center pointer-events-none">
                -
              </button>
            </div>
            <div class="text-white rounded-2xl mx-[2px]" type="button">
              {{ tarifas()[tarifa].cantidad }}
            </div>
            <div
              class="w-full text-center bg-gray-700 hover:cursor-pointer"
              (click)="onHandleClickAdd(tarifas()[tarifa].nombre)"
            >
              <button class="text-white pointer-events-none">+</button>
            </div>
          </div>
        </div>
      </div>

      } }
      <div class="mt-5">
        <p class="text-2xl">
          Total:
          <span>{{
            getPriceConverted(this.totalPrice())
              | currency : "EUR" : "symbol" : "1.2-2"
          }}</span>
        </p>
      </div>

      <div class="px-4 mt-5">
        <button
          (click)="totalPrice() === 0 ? onHandleClickNext() : ''"
          [disabled]="totalPrice() === 0"
          [ngClass]="
            totalPrice() === 0
              ? 'opacity-50 cursor-not-allowed'
              : 'cursor-pointer'
          "
          class="px-4 flex items-center justify-center gap-1 py-1 border-2 border-red-600 text-red-600 rounded-full font-semibold tracking-wide hover:bg-red-600 hover:text-white transition-colors duration-500"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div> -->

<!-- <div class="h-screen info flex items-center justify-center">
  <div class="w-[500px] h-[400px] flex flex-col">
    <div class=" w-full mx-auto">
      <h2 class="text-red-600 text-4xl text-center">Seleccione sus entradas</h2>
    </div>
    <div class="flex items-center flex-col justify-center text-white">
      <div class="p-5 flex gap-20 items-center">
        <div>
          <p class="">Adulto</p>
        </div>

        <div>
          <p class="">9.40</p>
        </div>

        <div class="rounded-2xl overflow-hidden border-gray-700 border-1 w-20">
          <div class="flex items-center justify-center gap-3">
            <div class="w-full flex justify-center bg-gray-700">
              <button class="text-white">-</button>
            </div>
            <div class="text-white rounded-2xl mx-[2px]" type="button">1</div>
            <div class="w-full flex justify-center bg-gray-700">
              <button class="text-white">+</button>
            </div>
          </div>
        </div>
      </div>

      <div class="p-5 flex gap-20 items-center">
        <div>
          <p class="">Adulto</p>
        </div>

        <div>
          <p class="">9.40</p>
        </div>

        <div>
          <button class="" type="button">Seleccion</button>
        </div>
      </div>

      <div class="p-5 flex gap-20 items-center">
        <div>
          <p class="">Adulto</p>
        </div>

        <div>
          <p class="">9.40</p>
        </div>

        <div>
          <button class="" type="button">Seleccion</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
