@if(mostrarAlertas()){ @if(!crearPeliculaResource.error() &&
crearPeliculaResource.hasValue()){
<div
  role="alert"
  class="alert alert-success w-80 md:w-80 absolute left-10 md:left-[20%] z-10"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Película creada correctamente!</span>
</div>
}@else {

<div role="alert" class="alert alert-success w-100 absolute left-70">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Algo ha ocurrido:( No se ha podido guardar los cambios</span>
</div>

} }

<div
  class="flex flex-col md:flex-row md:justify-center items-center md:items-start gap-5 mt-2 md:mt-10 mb-10"
>
  <div>
    <p>
      <i
        class="fa-regular fa-circle-left text-[40px] cursor-pointer"
        (click)="goBack()"
        style="color: #a397c9"
      ></i>
    </p>
  </div>
  @if(form){
  <div class="max-h-[80vh] overflow-y-auto  bg-secondary-content relative">
    <form [formGroup]="form" (ngSubmit)="save()">
      <fieldset
        class="fieldset bg-[#e9e5f3] border-base-300 rounded-box w-xs md:w-md border p-4"
      >
        <label class="label">Título</label>
        <input
          type="text"
          class="input input-md w-full"
          placeholder=""
          formControlName="titulo"
        />
        @if(form.get('titulo')?.invalid && form.get('titulo')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('titulo') }}
        </span>

        }

        <label class="label">Año</label>
        <input
          type="text"
          class="input input-md w-full"
          placeholder=""
          formControlName="anio"
        />

         @if(form.get('anio')?.invalid && form.get('anio')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('anio') }}
        </span>

        }

        <label class="label">Duracion</label>
        <input
          type="text"
          class="input input-md w-full"
          placeholder=""
          formControlName="duracion"
        />

            @if(form.get('duracion')?.invalid && form.get('duracion')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('duracion') }}
        </span>

        }
        <label class="label">Tráiler</label>
        <textarea
          placeholder="Bio"
          class="textarea textarea-xs w-full"
          formControlName="trailer"
        ></textarea>

              @if(form.get('trailer')?.invalid && form.get('trailer')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('trailer') }}
        </span>

        }

        <label class="label">Sinopsis</label>
        <textarea
          placeholder=""
          class="textarea textarea-xs w-full"
          formControlName="sinopsis"
        ></textarea>

              @if(form.get('sinopsis')?.invalid && form.get('sinopsis')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('sinopsis') }}
        </span>

        }

        <label class="label">Categoría</label>
        <select class="select w-full" formControlName="categoria">
          @for(cat of peliculasResource.value()?.categorias ?? []; track cat){
          <option [value]="cat">{{ cat | titlecase }}</option>

          }
        </select>

               @if(form.get('categoria')?.invalid && form.get('categoria')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('categoria') }}
        </span>

        }

        <label class="label">Calificación</label>
        <select class="select w-full" formControlName="calificacion">
          @for(cal of peliculasResource.value()?.calificaciones ?? []; track
          cal){
          <option [value]="cal">{{ cal | titlecase }}</option>

          }
        </select>

                  @if(form.get('calificacion')?.invalid && form.get('calificacion')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('calificacion') }}
        </span>

        }

        <label class="label">Formato</label>
        <select class="select w-full" formControlName="formato">
          @for(cal of peliculasResource.value()?.formatos; track cal){
          <option [value]="cal">{{ cal | titlecase }}</option>

          }
        </select>

                  @if(form.get('formato')?.invalid && form.get('formato')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('formato') }}
        </span>

        }
        <div>
        <label class="label">Póster</label>
        <textarea
          placeholder="URL de Póster"
          class="textarea textarea-xs w-full"
          formControlName="poster"
        ></textarea>
        @if(form.get('poster')?.invalid && form.get('poster')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('poster') }}
        </span>

        }
        </div>

        <div class="flex gap-3 flex-col items-center">
          <div class="w-full">
            <label class="label">Imagen</label>
            <textarea
              placeholder="URL de imagen"
              class="textarea textarea-xs w-full"
              formControlName="imagen"
            ></textarea>

                      @if(form.get('imagen')?.invalid && form.get('imagen')?.touched){
        <span class="form-text text-error">

          {{ getFieldError('imagen') }}
        </span>

        }
          </div>
          <img
            [src]="form.get('imagen')?.value"
            alt="Imagen"
            class="w-30 rounded"
          />
        </div>
        <div class="flex items-center justify-center gap-4 mt-2">
          <div class="w-full">
            <button class="btn btn-primary w-full">Guardar</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  }
</div>
