<div class="h-20 w-full md:w-xl mx-auto rounded-b-[20px] relative  z-1 bg-[#d9d9d9] flex items-center justify-center">
  <!-- <h1 class="text-3xl font-bold text-red-500 text-center">Nuestra cartelera</h1> -->
   <img class="w-[280px] h-auto mx-auto absolute" src="./img/cine-logo.png" alt="" />


</div>

<div class="cine w-[90%] max-w-[1800px] mx-auto">


  <!-- PORTADA disminuyendo ancho y alto pero respetando formato
            <section class="">
                <div class="w-full h-100">
                <img class="max-w-full h-auto max-h-full object-cover block"src="./img/deadpool_2-cartel-8108.jpg" alt="">
            </div>-->
  <section class="text-white text-center sticky pb-10">

<!--DaisyUI-->

<!-- ./img/posters/poster-4.jpg -->
<!-- relative -->
   <!-- <span class="absolute top-100 left-[20px]">Foto de <a class="text-red-600" href="https://unsplash.com/es/@kristsll?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Krists Luhaers</a> en <a class="text-red-600" href="https://unsplash.com/es/fotos/persona-viendo-la-pelicula-AtPWnYNDJnM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->
      <!-- </span> -->


 <app-posters [posters]="posters"></app-posters>


    <app-lista-peliculas
    [films]="carteleraResource.value()"
    [isLoading]="carteleraResource.isLoading()"
    [errorMessage]="carteleraResource.error()"
    [isEmpty]="(carteleraResource.value()?.length==0)"
    (dia)="searchByDay($event)"
    >

    </app-lista-peliculas>

  </section>
</div>
