<div class="h-15 w-xl bg-gray-800 mx-auto rounded-b-[20px]">
  <!-- <h1 class="text-3xl font-bold text-red-500 text-center">Nuestra cartelera</h1> -->
  <img class="" src="./img/cine-2.png" alt="" />
</div>
<div class="cine w-[90%] max-w-[1800px] mx-auto">
  <!-- PORTADA disminuyendo ancho y alto pero respetando formato
            <section class="">
                <div class="w-full h-100">
                <img class="max-w-full h-auto max-h-full object-cover block"src="./img/deadpool_2-cartel-8108.jpg" alt="">
            </div>-->
  <section class="text-white text-center sticky">
    <div class="flex gap-x-16 justify-center">
      <div class="w-70">
        <div class="h-100 mt-5 mio">
          <!-- <img class="max-w-full h-auto max-h-full block" src="./img/peli-1.jpg" alt="" /> -->
        </div>
        <div class="w-full info bg-amber-100 h-15 p-0">
          <div
            class="h-8 p-0 bg-gray-900 py-4 flex justify-center items-center border-b-2"
          >
            <p class="text-white font-bold text-[18px]">The alto knights</p>
          </div>
        </div>
      </div>

      <div class="w-70">
        <div class="h-100 mt-5 mio-2">
          <!-- <img class="max-w-full h-auto max-h-full block" src="./img/peli-1.jpg" alt="" /> -->
        </div>
        <div class="w-full info h-15 bg-amber-100">
          <div
            class="h-8 p-0 bg-gray-900 flex justify-center items-center border-b-2"
          >
            <p class="text-white font-bold text-[18px]">The alto knights</p>
          </div>
        </div>
      </div>

      <div class="w-70">
        <div class="h-100 mt-5 mio">
          <!-- <img class="max-w-full h-auto max-h-full block" src="./img/peli-1.jpg" alt="" /> -->
        </div>
        <div class="w-full info bg-amber-100 h-15">
          <div
            class="h-8 p-0 bg-gray-900 flex justify-center items-center border-b-2"
          >
            <p class="text-white font-bold text-[18px]">The alto knights</p>
          </div>
        </div>
      </div>

      <div class="w-70">
        <div class="h-100 mt-5 mio-2">
          <!-- <img class="max-w-full h-auto max-h-full block" src="./img/peli-1.jpg" alt="" /> -->
        </div>
        <div class="w-full info h-15 bg-amber-100">
          <div
            class="h-8 p-0 bg-gray-900 flex justify-center items-center border-b-2"
          >
            <p class="text-white font-bold text-[18px]">
              Ponte en mi lugar de nuevo
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
